* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big_logo img {
  display: block;
  margin: 0 auto;

}

.search_bar {
  width: 485px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

.button_container {
  margin: 0 auto;
  padding-top: 22px;
  width: 100%;
  height: 75px;
  text-align: center;


}

.buttons  {
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  color: #757575;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  width: 122px;
  height: 36px;
}

.buttons:hover  {
  border: 1px black solid;
  color: black;
}

#lucky  {
  width: 142;
  height: 36px;
}

p  {
  text-align: center;
}

.nav  {
  height:100px;

}

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: helvetica;
  font-size: 13px;
}

li:hover  {
  text-decoration: underline;
}

li  {
  float: right;
  padding: 0;


}

li a  {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #505050;
  margin-right: 20px;
  margin-top: 20px;
}

.foot  {
  display: inline;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F2F2F2;

}

.nav_foot_l {
  float: left;
  padding-bottom: 12px;
  font-family: helvetica;
  font-size: 13px;
  margin-left: 10px
}

.nav_foot_r {
  float: right;
  padding-bottom: 12px;
  font-family: helvetica;
  font-size: 13px;
}
